<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
    <h2 class="text-5xl font-bold my-5">About Us</h2>
    <p class="text-zinc-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. At perspiciatis cum laboriosam dolorum repellat placeat vel maxime rem mollitia, aspernatur corporis earum delectus unde sint dolorem nostrum. Deserunt, inventore ex.</p>
</section>
